# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df= pd.read_csv("Scorecard-Elements1.csv")


print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   INSTNM                  7703 non-null   object
 1   CITY                    7703 non-null   object
 2   STABBR                  7703 non-null   object
 3   UGDS                    6990 non-null   float64
 4   UGDS_WHITE              6990 non-null   float64
 5   UGDS_BLACK              6990 non-null   float64
 6   UGDS_HISP               6990 non-null   float64
 7   UGDS_ASIAN              6990 non-null   float64
 8   UGDS_AIAN               6990 non-null   float64
 9   UGDS_NHPI               6990 non-null   float64
 10  UGDS_2MOR               6990 non-null   float64
 11  UGDS_NRA                6990 non-null   float64
 12  UGDS_UNKN               6990 non-null   float64
 13  MD_EARN_WNE_P10         5693 non-null   float64
 14  GRAD_DEBT_MDN_SUPP      6126 non-null   float64
 15  GRAD_DEBT_MDN10YR_SUPP  6126 non-null   float64
 16  RPY_3YR_RT_SUPP         6228 non-null   float64
dtypes: float64(14), object(3)
memory usage: 932.9+ KB
None

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [42]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

# There is a lot of missing data, which I could visibly see from the documents. None of the schools basic information is missing
# The columns with large numbers of missing data 
#I only want to review the first 7 columns-- these columns identify the University and 2 additional columns: 
#GRAD_DEBT_MDN_SUPP - 0% (no missing missing information)
#GRAD_DEBT_MDN10YR_SUPP - 0 (no missing information)

INSTNM - 0%
CITY - 0%
STABBR - 0%
UGDS - 9%
UGDS_WHITE - 9%
UGDS_BLACK - 9%
UGDS_HISP - 9%
UGDS_ASIAN - 9%
UGDS_AIAN - 9%
UGDS_NHPI - 9%
UGDS_2MOR - 9%
UGDS_NRA - 9%
UGDS_UNKN - 9%
MD_EARN_WNE_P10 - 26%
GRAD_DEBT_MDN_SUPP - 20%
GRAD_DEBT_MDN10YR_SUPP - 20%
RPY_3YR_RT_SUPP - 19%

In [43]:
df.isna().sum()

INSTNM                       0
CITY                         0
STABBR                       0
UGDS                       713
UGDS_WHITE                 713
UGDS_BLACK                 713
UGDS_HISP                  713
UGDS_ASIAN                 713
UGDS_AIAN                  713
UGDS_NHPI                  713
UGDS_2MOR                  713
UGDS_NRA                   713
UGDS_UNKN                  713
MD_EARN_WNE_P10           2010
GRAD_DEBT_MDN_SUPP        1577
GRAD_DEBT_MDN10YR_SUPP    1577
RPY_3YR_RT_SUPP           1475
dtype: int64

In [45]:
clean_df = df.dropna(subset=["UGDS", "MD_EARN_WNE_P10", "GRAD_DEBT_MDN_SUPP"])

In [44]:
clean_df.isna().sum()

INSTNM                      0
CITY                        0
STABBR                      0
UGDS                        0
UGDS_WHITE                  0
UGDS_BLACK                  0
UGDS_HISP                   0
UGDS_ASIAN                  0
UGDS_AIAN                   0
UGDS_NHPI                   0
UGDS_2MOR                   0
UGDS_NRA                    0
UGDS_UNKN                   0
MD_EARN_WNE_P10             0
GRAD_DEBT_MDN_SUPP          0
GRAD_DEBT_MDN10YR_SUPP      0
RPY_3YR_RT_SUPP           482
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [4]:
#find the datatype of each outlier to determine how to handle it
#The list of dataypes will be the already condensed list of rows and columns to make this section more manageable
df.dtypes

INSTNM                     object
CITY                       object
STABBR                     object
UGDS                      float64
UGDS_WHITE                float64
UGDS_BLACK                float64
UGDS_HISP                 float64
UGDS_ASIAN                float64
UGDS_AIAN                 float64
UGDS_NHPI                 float64
UGDS_2MOR                 float64
UGDS_NRA                  float64
UGDS_UNKN                 float64
MD_EARN_WNE_P10            object
GRAD_DEBT_MDN_SUPP         object
GRAD_DEBT_MDN10YR_SUPP     object
RPY_3YR_RT_SUPP            object
dtype: object

In [46]:
df_clean = clean_df.drop(columns=['RPY_3YR_RT_SUPP', 'GRAD_DEBT_MDN10YR_SUPP'],axis=1)

In [47]:
#The first 7 columns listed above are the University's identifiers like city, state, University name, etc.
#OPEID, OPEID6, UNITID I kept as indentifiers, so if there data is missing, it isn't really relavant
#I want to look at the head now that my list is condensed
df_clean.head(10)

,INSTNM,CITY,STABBR,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,30300.0,33888.0
1,University of Alabama at Birmingham,Birmingham,AL,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,39700.0,21941.5
2,Amridge University,Montgomery,AL,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,40100.0,23370.0
3,University of Alabama in Huntsville,Huntsville,AL,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,45500.0,24097.0
4,Alabama State University,Montgomery,AL,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,26600.0,33118.5
5,The University of Alabama,Tuscaloosa,AL,29851.0,0.7825,0.1119,0.0348,0.0106,0.0038,0.0009,0.0261,0.0268,0.0026,41900.0,23750.0
6,Central Alabama Community College,Alexander City,AL,1592.0,0.7255,0.2613,0.0044,0.0025,0.0044,0.0000,0.0000,0.0000,0.0019,27500.0,16127.0
7,Athens State University,Athens,AL,2991.0,0.7823,0.1200,0.0191,0.0053,0.0157,0.0010,0.0174,0.0057,0.0334,39000.0,18595.0
8,Auburn University at Montgomery,Montgomery,AL,4304.0,0.5328,0.3376,0.0074,0.0221,0.0044,0.0016,0.0297,0.0397,0.0246,35000.0,21335.0
9,Auburn University,Auburn,AL,20514.0,0.8507,0.0704,0.0248,0.0227,0.0074,0.0000,0.0000,0.0100,0.0140,45700.0,21831.0

In [54]:
#Checking to see if there is any unique values in both Grad_debt columns
columns = [['GRAD_DEBT_MDN_SUPP']]
for c in columns:
    print(df_clean[c].nunique())

GRAD_DEBT_MDN_SUPP    1718
dtype: int64

In [67]:
df_MO= df_clean[(df_clean['STABBR']== 'MO')]
print(df_MO)

                                             INSTNM          CITY STABBR  \
1361            Concorde Career College-Kansas City   Kansas City     MO
2009                               Avila University   Kansas City     MO
2010             ITT Technical Institute-Earth City    Earth City     MO
2011                          Baptist Bible College   Springfield     MO
2012  House of Heavilin Beauty College-Blue Springs  Blue Springs     MO
...                                             ...           ...    ...
6408           Regency Beauty Institute-Springfield   Springfield     MO
6536                  Brown Mackie College-St Louis        Fenton     MO
6706      National American University-Lee's Summit  Lee's Summit     MO
6710        Chamberlain College of Nursing-Missouri     St. Louis     MO
6831                               Bryan University      Columbia     MO

        UGDS  UGDS_WHITE  UGDS_BLACK  UGDS_HISP  UGDS_ASIAN  UGDS_AIAN  \
1361   590.0      0.4203      0.4034     0.0949      0.0186     0.0051
2009  1321.0      0.6101      0.1893     0.0765      0.0167     0.0083
2010   517.0      0.4642      0.4313     0.0135      0.0155     0.0058
2011   317.0      0.8644      0.0347     0.0379      0.0126     0.0158
2012   102.0      0.8333      0.0588     0.0784      0.0294     0.0000
...      ...         ...         ...        ...         ...        ...
6408    58.0      0.4828      0.0345     0.0345      0.0000     0.0172
6536   504.0      0.5377      0.4048     0.0139      0.0079     0.0040
6706   309.0      0.5405      0.3786     0.0162      0.0000     0.0065
6710   508.0      0.7736      0.1417     0.0197      0.0177     0.0000
6831    97.0      0.5670      0.3299     0.0206      0.0000     0.0103

      UGDS_NHPI  UGDS_2MOR  UGDS_NRA  UGDS_UNKN  MD_EARN_WNE_P10  \
1361     0.0017     0.0339    0.0000     0.0220          22100.0
2009     0.0038     0.0288    0.0666     0.0000          41100.0
2010     0.0000     0.0290    0.0000     0.0406          38800.0
2011     0.0032     0.0284    0.0000     0.0032          29100.0
2012     0.0000     0.0000    0.0000     0.0000          11600.0
...         ...        ...       ...        ...              ...
6408     0.0000     0.1034    0.0000     0.3276          21500.0
6536     0.0040     0.0000    0.0000     0.0278          27400.0
6706     0.0000     0.0583    0.0000     0.0000          36100.0
6710     0.0020     0.0157    0.0020     0.0276          52600.0
6831     0.0000     0.0619    0.0000     0.0103          24900.0

      GRAD_DEBT_MDN_SUPP
1361              9500.0
2009             26625.0
2010             25827.5
2011             20662.5
2012              9088.5
...                  ...
6408             14144.0
6536             22141.5
6706             33523.0
6710             24581.0
6831             24056.0

[127 rows x 15 columns]

In [68]:
#I'm looking at the Grad debt with just MO's information
df_MO['GRAD_DEBT_MDN_SUPP'].describe()

count      127.000000
mean     17801.153543
std       6916.112094
min       5974.000000
25%      10954.750000
50%      19399.000000
75%      22648.000000
max      33523.000000
Name: GRAD_DEBT_MDN_SUPP, dtype: float64

In [69]:
#Total number of undergraduates in the MO informational stats
df_MO['UGDS'].sum()

294777.0

In [57]:
#I'm looking at the undergraduate stats with just MO's information
df_MO['UGDS'].describe()

count      127.000000
mean      2321.078740
std       4260.679323
min         15.000000
25%        172.000000
50%        514.000000
75%       2114.000000
max      27276.000000
Name: UGDS, dtype: float64

In [70]:
#Total number of undergraduates indentify as black in MO stats
df_MO['UGDS_BLACK'].describe

<bound method NDFrame.describe of 1361    0.4034
2009    0.1893
2010    0.4313
2011    0.0347
2012    0.0588
         ...
6408    0.0345
6536    0.4048
6706    0.3786
6710    0.1417
6831    0.3299
Name: UGDS_BLACK, Length: 127, dtype: float64>

In [71]:
#Total number of undergraduates indentify as hispanic in MO stats
df_MO['UGDS_HISP'].describe

<bound method NDFrame.describe of 1361    0.0949
2009    0.0765
2010    0.0135
2011    0.0379
2012    0.0784
         ...
6408    0.0345
6536    0.0139
6706    0.0162
6710    0.0197
6831    0.0206
Name: UGDS_HISP, Length: 127, dtype: float64>

In [72]:
#Total number of undergraduates indentify as Asian in MO stats
df_MO['UGDS_ASIAN'].describe

<bound method NDFrame.describe of 1361    0.0186
2009    0.0167
2010    0.0155
2011    0.0126
2012    0.0294
         ...
6408    0.0000
6536    0.0079
6706    0.0000
6710    0.0177
6831    0.0000
Name: UGDS_ASIAN, Length: 127, dtype: float64>

In [73]:
#Total number of undergraduates indentify as Amierican Indian and Alaskan Native in MO stats
df_MO['UGDS_AIAN'].describe

<bound method NDFrame.describe of 1361    0.0051
2009    0.0083
2010    0.0058
2011    0.0158
2012    0.0000
         ...
6408    0.0172
6536    0.0040
6706    0.0065
6710    0.0000
6831    0.0103
Name: UGDS_AIAN, Length: 127, dtype: float64>

In [74]:
#Total number of undergraduates indentify as North Pacific Islander in MO stats
df_MO['UGDS_NHPI'].describe

<bound method NDFrame.describe of 1361    0.0017
2009    0.0038
2010    0.0000
2011    0.0032
2012    0.0000
         ...
6408    0.0000
6536    0.0040
6706    0.0000
6710    0.0020
6831    0.0000
Name: UGDS_NHPI, Length: 127, dtype: float64>

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [75]:
#save cleaned dataset to a new csv
df_clean.to_csv("Scorecard-Elements1.csv")

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? Yes
2. Did the process of cleaning your data give you new insights into your dataset? Yes, it gave me A LOT more insight. I ended up even deciding the 2nd dataframe wasn't giving any new information, so decided to only use the 1 for the final project. I narrowed it down to only 16 columns and 200 rows, since I will only be reviewing MO univeristies/colleges
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? I'd like to make note of that NaN is in the chart 12 times for each race. And the Grad_debt has "PrivacySuppressed" instead of a value if the information isn't available.